.morris-hover {
    position: absolute;
    z-index: 1000;
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    
    background: #fff;
	border: solid 2px #ccc;
	/* IE8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE 5-7 /
	filter: alpha(opacity=80);
	/ Netscape /
	-moz-opacity: 0.8;
	/ Safari 1.x /
	-khtml-opacity: 0.8;
	/ Good browsers */
	opacity: 0.8;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}


#hero-graph, #hero-bar, #hero-area, #hero-donut {height: 250px}