<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="com.storeelf.report.web" version="2.5">
  <display-name>com.storeelf.report.web</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
  	<listener-class>com.storeelf.report.web.listener.StoreElfContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
</listener>

<!--   <filter>
    <filter-name>default</filter-name>
    <filter-class>com.storeelf.report.web.servlets.DefaultFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>default</filter-name>
    <url-pattern>/public/*</url-pattern>
    <url-pattern>/Reports/*</url-pattern>
    <url-pattern>*.ico</url-pattern>
</filter-mapping> -->

  <filter>
    <filter-name>ShiroFilter</filter-name>
    <!-- <filter-class>com.storeelf.report.web.servlets.StoreElfWebSecurityFilter</filter-class> -->
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
<!--   <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
    <init-param>
      <param-name>configPath</param-name>
      <param-value>classpath:shiro.ini</param-value>
    </init-param>
  </filter> -->
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>com.storeelf.report.web.servlets.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/classes/log4j.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Servlet to authenticate User against AD</description>
    <display-name>StoreElfHttpServlet</display-name>
    <servlet-name>StoreElfHttpServlet</servlet-name>
    <servlet-class>com.storeelf.report.web.servlets.StoreElfHttpServlet</servlet-class>
    <init-param>
      <param-name>loginpage</param-name>
      <param-value>login.jsp</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Servlet to authenticate User against AD</description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>com.storeelf.report.web.servlets.Logout</servlet-class>
    <init-param>
      <param-name>loginpage</param-name>
      <param-value>login.jsp</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Servlet to authenticate User against AD</description>
    <display-name>MLogoutUser</display-name>
    <servlet-name>MLogoutUser</servlet-name>
    <servlet-class>com.storeelf.report.web.servlets.Logout</servlet-class>
    <init-param>
      <param-name>loginpage</param-name>
      <param-value>mlogin.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MLogoutUser</servlet-name>
    <url-pattern>/mobile/MLogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreElfHttpServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--This mapping makes the favicon works on Tomcat-->
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
        <!--<mime-type>image/vnd.microsoft.icon</mime-type>-->
    </mime-mapping>

    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
        <!--<mime-type>font/ttf</mime-type>-->
        <!--<mime-type>font/truetype</mime-type>-->
    </mime-mapping>

    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
        <!--<mime-type>font/x-woff</mime-type>-->
    </mime-mapping>
</web-app>