<?xml version="1.0" encoding="windows-1252"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="file" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="ERROR" />
		<rollingPolicy name="file"
			class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${LogDir}/storeelf.log.%d{yyyyMMdd}.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] (%F:%L) %c - %m%n" />
		</layout>
	</appender> 

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] (%F:%L) %c - %m%n" />
		</layout>
	</appender>

	<appender name="logging_mq" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<rollingPolicy name="logging_mq"
			class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${LogDir}/Splunk_Logs/MQ_Logs/splunk.mq.log.%d{yyyyMMdd}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="logging_jvm" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<rollingPolicy name="logging_jvm"
			class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${LogDir}/Splunk_Logs/JVM_Monitor/splunk.jvm.log.%d{yyyyMMdd}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="logging_sql" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<rollingPolicy name="logging_sql"
			class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="${LogDir}/Splunk_Logs/SQL_Monitor/splunk.sql.log.%d{yyyyMMdd}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<logger name="logging_mq.log">
		<appender-ref ref="logging_mq"/>
	</logger>
	
	<logger name="logging_jvm.log">
		<appender-ref ref="logging_jvm"/>
	</logger>
		
	<logger name="logging_sql.log">
		<appender-ref ref="logging_sql"/>
	</logger>
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
		<!-- <appender-ref ref="file" /> -->
	</root>
</log4j:configuration>